# do daily/weekly/monthly maintenance
# min	hour	day	    month	weekday	command
*/15    *       *       *       *       flask email read
*/15    *       *       *       *       flask crawler dcvfm-nav-price-history
